.header {
    padding: 1rem 0;
    background: #fff;

    .left-col {
        display: flex;
        align-items: center;
        justify-content: center;

        nav {
            margin-left: 1.8rem;
            height: 100%;

            a {
                font-weight: 500;
                color: #000;
                padding: 0.375rem 1rem;
                border-radius: var(--border-radius);
                background: var(--primary-light);
                text-decoration: none;

                &:hover:not(.active) {
                    background: var(--primary-light-hover);
                }

                &.active {
                    background: var(--primary);
                }

                &:not(:last-of-type) {
                    margin-right: .6rem;
                }
            }
        }
    }

    .address-container {
        display: inline-block;
        margin-right: 0.6rem;

        a, button {
            text-decoration: none;
            cursor: pointer;
            color: #000;
        }
        
        .address {
            padding: 0.375rem 1rem;
            border-radius: var(--border-radius);
            background: var(--gray-light);
            border: 2px solid transparent;
            text-decoration: none;

            a {
                pointer-events: none;
            }

            &:hover {
                border-color: var(--gray-medium-2);
            }
        }
    }
}