.network-card {
    display: inline-flex;
    align-items: center;
    position: relative;
    vertical-align: middle;
    text-transform: capitalize;
    color: var(--network-card-color);
    margin-right:  0.6rem;
    background: none;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--network-card-color);
        border-radius: var(--border-radius);
        filter: opacity(0.1);
    }
}