.donate-list-item {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 1px solid var(--gray-light-2);
    border-radius: var(--border-radius-medium);

    .cover-image {
        width: 33%;
        min-height: 10rem;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: var(--border-radius-medium);
    }
    .details {
        padding: 1.5rem 1.8rem;
        flex: 1;
        text-align: left;
        
        .category {
            font-size: 92%;
        }
        .name {
            font-weight: bold;
            font-size: 130%;

            a {
                color: #000;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .description {
            .read-or-hide {
                font-style: italic;
            }
        }
        .organisation {
            font-size: 92%;
            margin-bottom: .6rem;

            a {
                color: var(--gray-medium);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .goal-and-donate-row {
            display: flex;
            justify-content: space-between;

            .progress-values {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: .3rem;

                .raised {
                    font-size: 125%;
                    color: var(--primary-medium);
                    margin-right: .5rem;
                    font-weight: bold;
                    margin-right: .8rem;
                }
                .goal {
                    font-size: 92%;
                    color: var(--gray-medium);
                }
            }
            .btn {
                align-self: center;
            }
        }
    }
}