body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --success-bg: #38a534;
  --success-bg-hover: #4ebd4b;
  --success-bg-light: #c1eec0;
  --success-text: #134912;
  --success-light: #e4f5e3;
  --warning-bg: #ffc107;
  --warning-bg-light: #fceec5;
  --warning-text: #d3a007;
  --warning-light-bg: #fffae6;
  --warning-light-text: #b67513;
  --error-bg: #ffecec;
  --error-bg-hover: #ffc7c7;
  --error-text: #e63a3a;
  --error-text-2: #ad1414;
  --blue: #2172e5;
  --green: #00DB8B;
}